.table {
    height: auto;
    width: auto;
    border: solid round pink;
}
.table_container {
    border: solid round magenta;
    height: auto;
}
.inner_container {
    border: solid round cyan;
    height: 23;
}
.version_label {
    color: green;
    text-style: bold;
}
.version_value {
    color: yellow;
    text-style: bold;
}